<link rel="import" href="../vendor/polymer/polymer.html">

<dom-module id="saludo-polymer">
  <template>
    <style>
    h1{
      color: blue;
    }
    </style>
    
    <hr>

    <h1>Bienvenido {{ userName }} </h1>
    <button on-tap="handleTap">Say hello</button>

    <hr>
  
  </template>
  <script>
    Polymer({
      is: "saludo-polymer",
      
      properties: {
        userName : String
      },

      handleTap: function() {
        
        alert('Ok!');

        this.fire('helloforeveryone', {hello: true});
      }
    });
  </script>
</dom-module>